* {
  box-sizing: border-box; }

ul, li, body {
  margin: 0;
  padding: 0;
  list-style: none; }

@keyframes fanzhuan {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(-1, 1); } }
@keyframes shangyi {
  0% {
    opacity: 0.1;
    top: 3.75rem; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes xiayi {
  0% {
    top: -3.75rem; }
  90% {
    top: 0.25rem; }
  100% {
    top: 0rem; } }
.fr {
  float: right; }

.fl {
  float: left; }

.clearfix:after {
  clear: both;
  content: '';
  display: block; }

.clearfix {
  zoom: 1; }

header .banner {
  width: 100%;
  background: url("../klxedu/banner01.jpg") no-repeat; }
  header .banner p {
    width: 62%;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
    display: flex; }
  header .banner .menu-banner {
    margin-top: 1.875rem;
    width: 65%; }
    header .banner .menu-banner img {
      max-width: 100%;
      height: auto; }
  header .banner .menu-banner-words {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.25rem;
    white-space: nowrap; }
    header .banner .menu-banner-words .menu-banner-words-a {
      text-decoration: none;
      color: #fff; }
  header .banner .menu-banner-button-a {
    display: inline-block;
    color: #444a4e;
    background-color: #f0f0f0;
    padding: 0.1875rem 0.5rem;
    margin-right: 0.375rem;
    font-size: 0.275rem;
    transition: 0.3s all ease;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 0.05rem; }
    header .banner .menu-banner-button-a:hover {
      background: #fff; }
    header .banner .menu-banner-button-a.menu-banner-button-aright {
      margin-left: 25%; }
header #navbar-default {
  border: none;
  box-shadow: 0rem 0.0125rem 0.0625rem #999;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0rem;
  left: 0rem;
  background: transparent; }
  header #navbar-default .navbar-header .header-collapsed {
    border: 0.0125rem solid #ccc; }
  header #navbar-default .navbar-header .navbar-brand {
    display: inline-block;
    margin-top: 0.125rem;
    width: 1.4375rem;
    height: 0.4rem;
    background: url("../klxedu/logo-wint.png") no-repeat;
    background-size: 100% 100%; }
  header #navbar-default #header-adiv .navbar-nav .navbar-nav-li {
    margin-left: 0.1875rem; }
    header #navbar-default #header-adiv .navbar-nav .navbar-nav-li .navbar-nav-li-a {
      padding: 15px 25px;
      color: #fff;
      font-size: 18px;
      line-height: 35px;
      display: inline-block;
      position: relative;
      transition: 0.4s all ease; }
      header #navbar-default #header-adiv .navbar-nav .navbar-nav-li .navbar-nav-li-a:hover {
        background: #252E2B;
        opacity: 0.7; }
    header #navbar-default #header-adiv .navbar-nav .navbar-nav-li.active .navbar-nav-li-a {
      background: #252E2B; }

@media (max-width: 768px) {
  .pagespcbg-right-ul-li {
    width: 25% !important;
    float: left; } }
section .tese {
  text-align: center;
  width: 100%;
  font-size: 0.4rem;
  padding-bottom: 0.45rem;
  padding-top: 5%; }
section .fanzhuan-div {
  width: 100%;
  padding: 0rem 0.1875rem;
  margin-bottom: 0.375rem; }
  section .fanzhuan-div:hover .fanzhuan-icon-div .fanzhuan-icon {
    animation: 0.5s fanzhuan ease forwards alternate; }
  section .fanzhuan-div .fanzhuan-icon-div {
    width: 100%;
    vertical-align: middle; }
    section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon {
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 auto; }
      section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon.fanzhuan-icon1 {
        background: url("../klxedu/icon-index_02.png") no-repeat 0px -7px; }
      section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon.fanzhuan-icon2 {
        background: url("../klxedu/icon-index_02.png") no-repeat -81px -7px; }
      section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon.fanzhuan-icon3 {
        background: url("../klxedu/icon-index_02.png") no-repeat -165px -7px; }
      section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon.fanzhuan-icon4 {
        background: url("../klxedu/icon-index_02.png") no-repeat -251px -7px; }
      section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon.fanzhuan-icon5 {
        background: url("../klxedu/icon-index_02.png") no-repeat -333px -7px; }
      section .fanzhuan-div .fanzhuan-icon-div .fanzhuan-icon.fanzhuan-icon6 {
        background: url("../klxedu/icon-index_02.png") no-repeat -419px -7px; }
  section .fanzhuan-div .fanzhuan-name {
    width: 100%;
    margin-top: 0.350000rem;
    font-size: 0.25rem;
    color: #333; }
    section .fanzhuan-div .fanzhuan-name .fanzhuan-i {
      display: block;
      text-align: center;
      font-style: normal; }
  section .fanzhuan-div .fanzhuan-discription {
    margin-top: 0.125rem;
    display: block;
    text-align: center;
    width: 100%;
    color: #666;
    min-height: 1.25rem;
    font-size: 0.17500000000000rem;
    line-height: 1.8; }
section .tiyan {
  width: 100%;
  background: url("../klxedu/mult01.jpg") no-repeat; }
  section .tiyan .tiyan-title {
    text-align: center;
    width: 100%;
    font-size: 0.4rem;
    padding-bottom: 0.45rem;
    padding-top: 5%;
    color: #fff; }
  section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul {
    width: 100%; }
    section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li {
      text-align: center;
      margin-bottom: 20px;
      cursor: pointer;
      display: list-item;
      width: auto; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li .pagespcbg-right-ul-a {
        width: 70px;
        height: 70px;
        display: block;
        margin: 0 auto; }
        section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li .pagespcbg-right-ul-a#pagespcbg-right-ul-a1 {
          background: url("../klxedu/icon-index_02.png") no-repeat 0 -92px; }
        section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li .pagespcbg-right-ul-a#pagespcbg-right-ul-a2 {
          background: url("../klxedu/icon-index_02.png") no-repeat -81px -92px; }
        section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li .pagespcbg-right-ul-a#pagespcbg-right-ul-a3 {
          background: url("../klxedu/icon-index_02.png") no-repeat -165px -92px; }
        section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li .pagespcbg-right-ul-a#pagespcbg-right-ul-a4 {
          background: url("../klxedu/icon-index_02.png") no-repeat -250px -92px; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li .pagespcbg-right-ul-em {
        font-style: normal;
        font-size: 0.2rem;
        line-height: 0.4rem;
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 0.15000000000000002rem; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li:hover .pagespcbg-right-ul-em {
        color: #3a80f7; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li:hover #pagespcbg-right-ul-a1 {
        background: url("../klxedu/icon-index_02.png") no-repeat 0 -175px; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li:hover #pagespcbg-right-ul-a2 {
        background: url("../klxedu/icon-index_02.png") no-repeat -81px -175px; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li:hover #pagespcbg-right-ul-a3 {
        background: url("../klxedu/icon-index_02.png") no-repeat -165px -175px; }
      section .tiyan .tiyan-xia .pagespcbg-right .pagespcbg-right-ul .pagespcbg-right-ul-li:hover #pagespcbg-right-ul-a4 {
        background: url("../klxedu/icon-index_02.png") no-repeat -250px -175px; }
  section .tiyan .tiyan-xia .pagespcbg-left .pagespcbg-left-ul li {
    width: 100%; }
    section .tiyan .tiyan-xia .pagespcbg-left .pagespcbg-left-ul li #pagespcbg-left-ul-img {
      width: 100%; }
section .zujian-title-top {
  width: 100%;
  text-align: center;
  padding-bottom: 0.45rem; }
  section .zujian-title-top .zujian-animation {
    position: relative;
    text-align: center;
    width: 100%;
    left: 0; }
    section .zujian-title-top .zujian-animation .zujian-animation-title {
      font-size: 0.375rem;
      color: #474747;
      line-height: 0.75rem; }
    section .zujian-title-top .zujian-animation .zujian-animation-smallTitle {
      font-size: 0.17500000000000002rem;
      color: #8c8c8c;
      line-height: 0.3125rem; }
section .zujian {
  background: #fafafa;
  padding-top: 5%; }
  section .zujian .zujian-bottom li {
    cursor: pointer; }
    section .zujian .zujian-bottom li .img-hover {
      display: block;
      width: 0.8500000000000001rem;
      height: 0.8500000000000001rem;
      margin: 0 auto; }
      section .zujian .zujian-bottom li .img-hover.img-hover1 {
        background: url("../klxedu/fan_pic_03.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover2 {
        background: url("../klxedu/fan_pic_05.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover3 {
        background: url("../klxedu/fan_pic_07.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover4 {
        background: url("../klxedu/fan_pic_09.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover5 {
        background: url("../klxedu/fan_pic_41.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover6 {
        background: url("../klxedu/fan_pic_14.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover7 {
        background: url("../klxedu/fan_pic_22.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover8 {
        background: url("../klxedu/fan_pic_48.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover9 {
        background: url("../klxedu/fan_pic_29.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover10 {
        background: url("../klxedu/fan_pic_23.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover11 {
        background: url("../klxedu/fan_pic_31.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover12 {
        background: url("../klxedu/fan_pic_27.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover13 {
        background: url("../klxedu/fan_pic_42.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover14 {
        background: url("../klxedu/fan_pic_44.png") no-repeat;
        background-size: 100% 100%; }
      section .zujian .zujian-bottom li .img-hover.img-hover15 {
        background: url("../klxedu/fan_pic_46.png") no-repeat;
        background-size: 100% 100%; }
    section .zujian .zujian-bottom li .img-hover-p {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 0.025rem;
      color: #474747;
      font-size: 0.2rem;
      line-height: 0.375rem; }
    section .zujian .zujian-bottom li:hover .img-hover {
      animation: 1s fanzhuan alternate;
      transition: 1s all ease; }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover1 {
        background: url("../klxedu/fan_pic_03 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover2 {
        background: url("../klxedu/fan_pic_05 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover3 {
        background: url("../klxedu/fan_pic_07 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover4 {
        background: url("../klxedu/fan_pic_09 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover5 {
        background: url("../klxedu/fan_pic_41 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover6 {
        background: url("../klxedu/fan_pic_14 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover7 {
        background: url("../klxedu/fan_pic_22 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover8 {
        background: url("../klxedu/fan_pic_48 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover9 {
        background: url("../klxedu/fan_pic_29 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover10 {
        background: url("../klxedu/fan_pic_23 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover11 {
        background: url("../klxedu/fan_pic_31 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover12 {
        background: url("../klxedu/fan_pic_27 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover13 {
        background: url("../klxedu/fan_pic_42 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover14 {
        background: url("../klxedu/fan_pic_44 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
      section .zujian .zujian-bottom li:hover .img-hover.img-hover15 {
        background: url("../klxedu/fan_pic_46 (1).png") no-repeat;
        background-size: 100% 100%;
        transform: scale(-1, 1); }
  section .zujian:hover .zujian-title-top .zujian-animation {
    animation: 1s shangyi ease forwards; }
section .youshi {
  background: #2d313a;
  height: auto; }
  section .youshi .youshi-title {
    color: #fff; }
  section .youshi .youshi-img {
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    height: auto; }
  section .youshi:hover .youshi-img {
    animation: 1s xiayi ease; }
section .fangan .zujian-title-top {
  margin-top: 5%;
  padding-bottom: 0.45rem; }
section .fangan .fangan-bottom li {
  position: relative;
  margin-bottom: 0.375rem;
  top: 0;
  left: 0;
  transition: 0.4s all ease; }
  section .fangan .fangan-bottom li .fangan-bottom-img {
    width: 100%;
    height: 116px; }
  section .fangan .fangan-bottom li:hover {
    top: -0.037500000000000006rem;
    box-shadow: 0px 0.0625rem 0.3125rem #ccc; }
section .fangan .zixunshiyong {
  width: 49%;
  height: 58px;
  line-height: 58px;
  margin: 50px auto;
  border: 1px solid #2F96EC;
  border-radius: 10px;
  display: flex;
  position: relative; }
  section .fangan .zixunshiyong .zixunshiyong-a {
    flex: 2.45;
    text-decoration: none;
    font-size: 24px;
    color: #2F96EC;
    display: block;
    height: 100%;
    font-weight: 700; }
    section .fangan .zixunshiyong .zixunshiyong-a.zixunshiyong-aleft {
      padding-left: 100px; }
    section .fangan .zixunshiyong .zixunshiyong-a.zixunshiyong-aright {
      padding-left: 47px; }
    section .fangan .zixunshiyong .zixunshiyong-a:hover {
      color: #187DD1; }
  section .fangan .zixunshiyong .zixunshiyong-img {
    flex: 1;
    position: absolute;
    left: 226px;
    top: -20px; }
section .fangan:hover .zujian-title-top {
  position: relative;
  animation: 1s shangyi ease forwards; }

footer {
  height: 80px;
  line-height: 80px;
  background: #333; }
  footer .footer-imga {
    display: inline-block;
    width: 115px;
    height: 32px;
    background: url(../klxedu/logo-wint.png) no-repeat;
    margin-top: 24px;
    text-indent: -99999rem; }
  footer .footer-words {
    text-align: center;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: 500;
    color: #fff; }
    footer .footer-words a {
      color: #fff; }

#wqerqwrq {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 0;
  bottom: 40px;
  cursor: pointer;
  display: none; }

#qweqwe {
  position: fixed;
  width: 900px;
  height: auto;
  cursor: pointer;
  left: 50%;
  margin-left: -450px;
  bottom: 0;
  z-index: 99; }

#add-header {
  position: fixed;
  right: 0;
  bottom: 50px;
  cursor: pointer; }

.rightfixed a {
  position: fixed;
  right: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #ccc;
  text-decoration: none; }
  .rightfixed a span {
    display: block;
    font-size: 24px;
    left: 19.5px;
    color: #fff; }
  .rightfixed a.weixin {
    bottom: 400px; }
    .rightfixed a.weixin span {
      top: 18px;
      left: 20px; }
  .rightfixed a.kefu {
    bottom: 300px; }
    .rightfixed a.kefu span {
      top: 19px; }
  .rightfixed a.home {
    bottom: 200px; }
    .rightfixed a.home span {
      top: 17px; }
.rightfixed:hover a {
  background: rgba(51, 183, 129, 0.94); }
.rightfixed .leftbox {
  position: fixed;
  width: 150px;
  height: 100px;
  bottom: 380px;
  right: 60px;
  display: none; }
  .rightfixed .leftbox .leftbox1 {
    height: 100%;
    width: 130px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 1px 25px #ccc;
    cursor: pointer; }
    .rightfixed .leftbox .leftbox1 img {
      width: 100px;
      height: 80px;
      margin: 8px 15px; }
    .rightfixed .leftbox .leftbox1 dl dt {
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      height: 40px;
      background: #eee;
      line-height: 40px;
      font-weight: 500;
      padding-left: 15px; }
    .rightfixed .leftbox .leftbox1 dl dd {
      height: 40px;
      line-height: 40px;
      padding-left: 15px; }
      .rightfixed .leftbox .leftbox1 dl dd span {
        color: #56f; }
      .rightfixed .leftbox .leftbox1 dl dd i {
        display: inline-block;
        width: 10px;
        height: 14px;
        border: 1px solid;
        margin-right: 8px;
        position: relative;
        top: 3px; }
  .rightfixed .leftbox .leftbox2 {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #fff;
    right: 10px;
    top: 40px;
    transform: rotate(45deg); }
  .rightfixed .leftbox.kefu-leftbox {
    width: 250px;
    bottom: 240px;
    height: 200px; }
    .rightfixed .leftbox.kefu-leftbox .leftbox1 {
      width: 230px;
      height: 200px; }
    .rightfixed .leftbox.kefu-leftbox .leftbox2 {
      top: 100px; }
.rightfixed.rightfixed1:hover .leftbox {
  display: block; }
.rightfixed.rightfixed2:hover .leftbox {
  display: block; }

/*# sourceMappingURL=index.css.map */
