/*头部样式*/
li {
  list-style-type: none;
}
ul,
menu,
dir {
  -webkit-padding-start: 0px;
}
body {
  font-family: '微软雅黑', 'Microsoft YaHei', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Arial', 'Helvetica,sans-serif';
  list-style-type: none;
}
.header {
  width: 100%;
}
.container-fluid > .navbar-header {
  margin-right: 0px;
}
.header-center {
  top: 0;
  width: 100%;
}
.header-center .navbar {
  border-radius: 0px;
  position: absolute;
  top: 0;
  width: 100%;
  background: 0;
  border: 0;
  box-shadow: 0px 0px 8px #535353;
}
.header-center .navbar-fixed-top {
  margin-top: 1px;
}
.header-center .navbar-fixed-top01 {
  position: fixed;
  top: 0;
  left: 0;
  background: #272727;
}
.header-center .g-nav-bar {
  position: relative;
}
.header-center .g-nav-bar .navbar-collapse li a {
  color: #000;
  font-size: 18px;
}
.header-center .g-nav-bar .navbar-collapse li a:hover {
  color: #51a9e9;
}
.header-center .g-nav-bar .navbar-collapse .active a {
  color: #51a9e9;
  background: 0;
  font-size: 18px;
}
.header-center .g-nav-bar .navbar-collapse .active a:hover {
  background: 0;
  color: #51a9e9;
}
.header-center .container-fluid {
  max-width: 1200px;
  padding-right: 0px;
  padding-left: 0px;
}
.navbar {
  margin-bottom: 0 ;
}
.navbar-default .navbar-nav li {
  margin-left: 15px;
}
.navbar-default .navbar-nav li a {
  padding-left: 25px;
  padding-right: 25px;
  line-height: 35px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}
.navbar-default .navbar-nav li a:hover {
  color: #dfdfdf;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.7;
  background: #252E2B;
}
.navbar-default .navbar-nav li:hover .dropdown-menu {
  display: block;
}
.navbar-default .navbar-nav li:hover .dropdown-menu li {
  line-height: 32px;
}
.navbar-default .navbar-nav li .dropdown-menu li {
  line-height: 32px;
  text-decoration: none;
  text-align: center;
  padding-left: 0;
}
.navbar-default .navbar-nav li .dropdown-menu li a {
  text-decoration: none;
  color: #777;
  border-bottom: 0px;
}
.navbar-default .navbar-nav li .dropdown-menu li:hover {
  background: #f6f6f6;
}
.navbar-default .navbar-nav li .dropdown-menu li:hover a {
  color: #51a9e9;
  background: #f6f6f6;
}
.navbar-default .navbar-nav .active a {
  color: #fff;
  background: 0;
  font-size: 18px;
  opacity: 0.7;
  background: #252E2B;
}
.navbar-default .navbar-nav .active a:hover {
  background: 0;
  color: #dfdfdf;
}
.navbar-default .navbar-brand {
  padding: 15px 15px;
}
.banner {
  width: 100%;
}
/*页尾 样式*/
.footer {
  width: 100%;
  background: #272727;
  float: left;
}
.footer .copyright {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.footer .copyright .col-md {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .copyright .col-md span {
  float: left;
  margin-top: 20px;
}
.footer .copyright .col-md p {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0px;
  line-height: 80px;
}
.footer .copyright .col-md p em {
  font-style: normal;
}
.footer .copyright .col-md p i {
  font-style: normal;
  padding-left: 20px;
  padding-right: 8px;
}
/*漂浮样式*/
.right-fixed {
  position: fixed;
  right: 0;
  bottom: 60px;
  z-index: 1000;
  display: block;
  opacity: .9;
  width: 64px;
  filter: alpha(opacity=90);
}
.right-fixed .fixed {
  width: 64px;
  height: 64px;
  display: inline-block;
  border-radius: 50px;
  background: #bababa;
  margin-bottom: 20px;
}
.right-fixed .fixed:hover {
  background: #51a9e9;
}
.right-fixed .fixed a {
  display: block;
  position: relative;
  text-align: center;
  line-height: 64px;
  color: #fff;
  font-size: 14px;
  list-style-type: none;
}
.right-fixed .fixed a:hover {
  text-decoration: blink;
}
.right-fixed .fixed .iconfont {
  font-size: 30px;
  color: #fff;
}
.right-fixed .fixed .btn-bar-us,
.right-fixed .fixed .btn-bar-code {
  width: 200px;
  float: left;
}
.right-fixed .fixed .btn-bar-us .popover,
.right-fixed .fixed .btn-bar-code .popover {
  min-width: 250px;
  border-color: #e1e1e1;
  margin-right: 50px;
  display: block;
}
.right-fixed .fixed .btn-bar-us .popover .arrow,
.right-fixed .fixed .btn-bar-code .popover .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-left-color: #fff;
}
.right-fixed .fixed .btn-bar-us .popover h3,
.right-fixed .fixed .btn-bar-code .popover h3 {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
}
.right-fixed .fixed .btn-bar-us .popover .popover-content,
.right-fixed .fixed .btn-bar-code .popover .popover-content {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 9px 14px;
}
.right-fixed .fixed .btn-bar-us .popover .popover-content p,
.right-fixed .fixed .btn-bar-code .popover .popover-content p {
  margin: 0 0 10px;
}
.right-fixed .fixed .btn-bar-us .popover .popover-content p a,
.right-fixed .fixed .btn-bar-code .popover .popover-content p a {
  color: #2697ed;
  text-decoration: none;
  line-height: 22px;
  display: initial;
}
.right-fixed .fixed .btn-bar-us .popover .popover-content p .mrm,
.right-fixed .fixed .btn-bar-code .popover .popover-content p .mrm {
  margin-right: 10px !important;
}
.right-fixed .fixed .btn-bar-us {
  display: none;
  position: absolute;
  left: -260px;
  top: 25px;
}
.right-fixed .fixed .btn-bar-code {
  display: none;
  position: absolute;
  left: -272px;
  top: -30px;
}
.right-fixed .fixed-us:hover .btn-bar-us {
  display: block;
}
.right-fixed .fixed-code:hover .btn-bar-code {
  display: block;
}
.right-fixed .qiao-icon-head {
  position: relative;
  right: 67px;
}
/*点击导航显示隐藏nav-sx*/
.mobile-nav {
  display: none;
  width: 220px;
  height: 10%;
  background: -moz-linear-gradient(top, #36393c 0%, #3c6171 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36393c), color-stop(100%, #3c6171));
  background: -webkit-linear-gradient(top, #36393c 0%, #3c6171 100%);
  background: -o-linear-gradient(top, #36393c 0%, #3c6171 100%);
  background: -ms-linear-gradient(top, #36393c 0%, #3c6171 100%);
  background: linear-gradient(to bottom, #36393c 0%, #3c6171 100%);
  position: absolute;
  top: -1px;
  right: -220px;
  z-index: 2110;
  overflow-y: auto;
}
.phone-ul {
  line-height: 50px;
}
.min_nav li {
  display: block;
  line-height: 2.7em;
  height: 2.7em;
  position: relative;
  margin-bottom: 3px;
  padding-left: 30px;
  border-bottom: 1px #86A0B1 solid;
}
.min_nav li.active {
  opacity: 0.7;
  background: #252E2B;
}
.min_nav li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.min_nav li a i {
  padding-right: 10px;
}
.min_nav li:hover {
  color: red;
  opacity: 0.7;
  background: #252E2B;
}
.html {
  position: relative;
  right: 0px;
  top: 0px;
}
html {
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
  .navbar-fixed-top {
    position: relative;
  }
  .right-fixed {
    top: 80px;
    float: left;
  }
}
/*增加768以下媒体查询样式*/
@media (max-width: 768px) {
  .footer .copyright .col-md p {
    line-height: 26px;
  }
}
