html {
  font-size: 20px; }

.top-nav {
  width: 100%;
  height: 4.922rem;
  background: url(../images/banner_offers.jpg) no-repeat;
  background-size: 100%;
  transition: 1s all ease; }
  .top-nav .navbar {
    width: 100%;
    box-shadow: 0px 0px 8px #535353;
    border-color: #535353;
    border-left: none;
    border-right: none;
    background: 0; }
    .top-nav .navbar .container {
      padding-top: 0px !important; }
      .top-nav .navbar .container .navbar-header {
        padding-top: 14px; }
        .top-nav .navbar .container .navbar-header .navbar-brand {
          padding: 0; }
    .top-nav .navbar .collapse .nav {
      margin-left: 35px; }
      .top-nav .navbar .collapse .nav > li {
        margin-left: 15px;
        transition: 1s all ease; }
        .top-nav .navbar .collapse .nav > li:hover {
          background-color: #1c2b2c;
          opacity: 0.7; }
        .top-nav .navbar .collapse .nav > li > a {
          box-sizing: border-box;
          height: 65px;
          padding: 26px;
          font-size: 18px;
          line-height: 18px;
          color: #fff; }
      .top-nav .navbar .collapse .nav .brand1 {
        display: none; }
        .top-nav .navbar .collapse .nav .brand1 a {
          padding-top: 0;
          padding-left: 10px !important; }

.c-course {
  margin-left: 200px; }

h1, h2 {
  margin: 0;
  padding: 0; }

.middle {
  width: 100%; }
  .middle .middle1 {
    width: 13.545rem;
    margin: 0 auto; }
    .middle .middle1 .middle1-top {
      width: 100%;
      overflow: hidden; }
      .middle .middle1 .middle1-top h1 {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-top: 0.498rem;
        margin-bottom: 0.474rem;
        color: black;
        font-size: 0.427rem; }
      .middle .middle1 .middle1-top div {
        overflow: hidden; }
        .middle .middle1 .middle1-top div ul {
          margin-bottom: 0;
          /*display: flex;*/
          width: 100%;
          margin-left: 0; }
          .middle .middle1 .middle1-top div ul li {
            padding-left: 0;
            padding-right: 0.4rem;
            margin-bottom: 0.142rem;
            overflow: hidden; }
            .middle .middle1 .middle1-top div ul li .left {
              border: 1px solid lightgrey; }
              .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top {
                height: 58px;
                background-color: #3ba1b0;
                border-radius: 0.178rem  0.178rem 0 0; }
                .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top h2 {
                  color: #fff;
                  text-align: center;
                  font-size: 30px;
                  line-height: 58px; }
              .middle .middle1 .middle1-top div ul li .left p {
                margin-top: 0.32rem;
                margin-left: 0.166rem;
                color: grey;
                font-size: 0.166rem; }
              .middle .middle1 .middle1-top div ul li .left span {
                display: inline-block;
                margin-left: 0.166rem;
                /*bottom:0;*/
                margin-top: 0.901rem;
                margin-bottom: 0.166rem;
                color: red;
                font-size: 0.166rem; }
              .middle .middle1 .middle1-top div ul li .left .span3 {
                margin-top: 0.45rem; }
              .middle .middle1 .middle1-top div ul li .left .span2 {
                margin-top: 4em; }
              .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top1 {
                height: 37px;
                width: 90%;
                margin: 0 auto;
                text-align: center;
                background-color: #fff;
                border: 1px solid #3ba1b0;
                border-radius: 0.059rem;
                margin-bottom: 10px; }
                .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top1:hover {
                  background-color: #3ba1b0; }
                .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top1 a:hover {
                  text-decoration: none; }
                .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top1 a:hover h4 {
                  color: #fff; }
                .middle .middle1 .middle1-top div ul li .left .middle1-top-li-top1 a h4 {
                  color: #3ba1b0;
                  text-align: center;
                  margin: 0;
                  font-size: 25px;
                  line-height: 37px; }
      .middle .middle1 .middle1-top div.container {
        padding-left: 0; }
    .middle .middle1 .middle1-top2 h1 {
      width: 60%; }
    .middle .middle1 .middle1-top2 .container {
      width: 100%; }
      .middle .middle1 .middle1-top2 .container .row > div {
        height: 238px;
        /*width: 190px;*/
        background: url(../images/fan_pic_29.png) no-repeat 50% 28px; }
        .middle .middle1 .middle1-top2 .container .row > div h4 {
          /*margin:0 auto;*/
          margin-top: 110px;
          color: #3ba1b0;
          text-align: center;
          /*justify-content: center;*/ }
        .middle .middle1 .middle1-top2 .container .row > div h5 {
          margin-top: 20px;
          color: #3ba1b0;
          text-align: center; }
  .middle .middle2 {
    width: 100%;
    background-size: 100% 100% !important;
    background: url(../images/banner_figure.jpg) no-repeat; }
    .middle .middle2 .middle21 {
      margin: 0 auto;
      width: 100%;
      overflow: hidden; }
      .middle .middle2 .middle21 h2 {
        text-align: center;
        margin: 0 auto;
        margin-top: 44px;
        color: #fff; }
      .middle .middle2 .middle21 .container .row div {
        overflow: hidden;
        padding-top: 40px; }
        .middle .middle2 .middle21 .container .row div .right {
          margin-left: 15px; }
          .middle .middle2 .middle21 .container .row div .right h4 {
            color: #fff; }
        .middle .middle2 .middle21 .container .row div > p {
          overflow: hidden;
          text-overflow: hidden;
          color: #fff; }
  .middle .middle3 {
    width: 100%;
    background-size: 100% 100%; }
    .middle .middle3 .middle21 {
      margin: 0 auto;
      width: 100%;
      overflow: hidden; }
      .middle .middle3 .middle21 h2 {
        text-align: center;
        margin: 0 auto;
        margin-top: 44px;
        color: black;
        padding-bottom: 36px;
        font-size: 0.358rem; }
      .middle .middle3 .middle21 .carousel {
        width: 910.83px;
        margin: 0 auto;
        margin-bottom: 30px; }
  .middle .middle4 {
    width: 100%;
    height: 246px;
    overflow: hidden;
    background: url(../images/mult01_bg_bff.jpg) no-repeat; }
    .middle .middle4 a {
      display: block;
      width: 170px;
      height: 63px;
      font-size: 22px;
      color: #444a4e;
      text-align: center;
      line-height: 63px;
      margin: 0 auto;
      background-color: white;
      margin-top: 90px; }
      .middle .middle4 a:hover {
        text-decoration: none; }
  .middle footer {
    width: 100%;
    height: 80px;
    background-color: #333; }
    .middle footer .col-md {
      width: 1200px;
      margin: 0 auto;
      height: 80px;
      overflow: hidden;
      padding-top: 30px; }
      .middle footer .col-md span {
        display: inline-block;
        margin-top: -10px;
        width: 115px;
        height: 32px;
        line-height: 32px;
        background: url(../images/logo-wint-01.png) no-repeat; }
      .middle footer .col-md .text {
        color: #fff;
        margin: 0 auto;
        line-height: 20px;
        margin-left: 2rem; }
        .middle footer .col-md .text a {
          color: #fff; }

@media (max-width: 768px) {
  .c-button {
    margin-left: 10px;
    background-color: lightgrey; }

  .c-button span {
    background-color: #fff !important; }

  .navbar-header {
    position: relative; }

  .navbar-header .navbar-brand {
    position: absolute;
    width: 100px;
    left: 0; }

  .navbar-collapse {
    background: linear-gradient(to bottom, #36393c 0%, #3c6171 100%);
    position: absolute;
    top: 0;
    height: 700px;
    right: 0;
    box-sizing: border-box; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1c2b2c; }

  .top-nav .navbar .collapse .nav li {
    border-bottom: 1px #86A0B1 solid; }
    .top-nav .navbar .collapse .nav li a {
      width: 220px;
      box-sizing: border-box;
      padding-left: 30px !important; }
  .top-nav .navbar .collapse .nav .brand1 {
    border-bottom: 0; }

  .top-nav .navbar .collapse .nav > li {
    margin-left: 0; }
    .top-nav .navbar .collapse .nav > li a {
      padding: 10px;
      height: 40px;
      font-size: 16px; }
      .top-nav .navbar .collapse .nav > li a:hover {
        background-color: #1c2b2c; }

  .middle footer .col-md .text {
    display: block; } }
@media (min-width: 768px) {
  .brand1 {
    display: none; } }
@media (max-width: 992px) {
  .navbar-right {
    display: none; }

  .middle .middle3 .middle21 .carousel {
    width: 100%; }

  .middle footer .col-md .text {
    margin-left: 1rem; } }
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding-right: 0; }

  .top-nav .navbar .container .navbar-header .navbar-brand {
    height: 30px; }

  .top-nav .navbar .collapse .nav {
    margin-left: 0; }

  .collapse {
    padding-left: 0; } }

/*# sourceMappingURL=baojia.css.map */
