@charset "UTF-8";
html{
	font-size: 20px;
}
.top-nav{
	width: 100%;
	height: 4.922rem;
	background: url(../images/banner_offers.jpg) no-repeat;
	background-size: 100%;
	transition:1s all ease;
	.navbar{
		width: 100%;
		box-shadow: 0px 0px 8px #535353;
		border-color: #535353;
		border-left:none;
		border-right:none;
		background:0;
		.container{
			padding-top: 0px !important;
			.navbar-header{
				padding-top: 14px;
				.navbar-brand{
					padding: 0;
				}
			}
		}
		.collapse{
			.nav{
				margin-left: 35px;
				>li{			
					margin-left: 15px;
					transition: 1s all ease;
					&:hover{
						background-color:#1c2b2c;
						opacity: 0.7;
					};				
					>a{
						box-sizing: border-box;
						height: 65px;
						padding:26px;
						font-size: 18px;
						line-height:18px ;
						color: #fff;
					}
				}
				.brand1{
					a{
						padding-top: 0;
						padding-left: 10px !important;
					}
					display: none;
				}
			}
		}
	}
}
.c-course{
		margin-left: 200px;
}

h1,h2{
	margin: 0;
	padding: 0;
}
.middle{
	width: 100%;
	.middle1{
		width: 13.545rem;
		margin:0 auto;
		.middle1-top{
			width: 100%;
			overflow: hidden;
			h1{
				display: block;
				width: 70%;
				margin: 0 auto;
				margin-top: 0.498rem;
				margin-bottom: 0.474rem;
				color: black;
				font-size: 0.427rem;
			}
			div{
				overflow: hidden;
				ul{
					margin-bottom: 0;
					/*display: flex;*/
					width: 100%;
					margin-left: 0;
					li{
						padding-left: 0;
						padding-right: 0.4rem;
						margin-bottom: 0.142rem;
						overflow: hidden;
						.left{
							border:1px solid lightgrey;
							.middle1-top-li-top{
								height: 58px;
								background-color: #3ba1b0;
								border-radius: 0.178rem  0.178rem 0 0;
								h2{
									color: #fff;
									text-align: center;
									font-size: 30px;
									line-height: 58px;
								}
							}
							p{
								margin-top: 0.32rem;
								margin-left: 0.166rem;
								color: grey;
								font-size: 0.166rem;
							}
							span{
								display: inline-block;
								margin-left: 0.166rem;
								/*bottom:0;*/
								margin-top: 0.901rem;
								margin-bottom: 0.166rem;
								color: red;
								font-size: 0.166rem;
							}
							.span3{
								margin-top: 0.45rem;
							}
							.span2{
								margin-top: 4em;
							}
							.middle1-top-li-top1{
								height: 37px;
								width: 90%;
								margin: 0 auto;
								text-align: center;
								background-color: #fff;
								border:1px solid #3ba1b0;
								border-radius: 0.059rem;
								margin-bottom: 10px;
								&:hover{
									background-color:#3ba1b0;
								};
								a{	
									&:hover{
										text-decoration:none;
									};
									&:hover h4{
										color:#fff;
									};
									h4{
										color: #3ba1b0;
										text-align: center;
										margin: 0;
										font-size: 25px;
										line-height: 37px;
									}
								}	
							}
						}
					}
				}
			}
			div.container{
				padding-left: 0;
			}
		}
		.middle1-top2{
			h1{
				width: 60%;
			}
			.container{
				width: 100%;
				.row{
					>div{
						height: 238px;
						/*width: 190px;*/
						background:url(../images/fan_pic_29.png) no-repeat 50% 28px;
						h4{
							/*margin:0 auto;*/
							margin-top: 110px;
							color: #3ba1b0;
							text-align: center;
							/*justify-content: center;*/
						}
						h5{
							margin-top: 20px;
							color: #3ba1b0;
							text-align: center;
						}
					}
				}
			}
		}
	}
	.middle2{
		width: 100%;
		background-size: 100% 100% !important;
		background:url(../images/banner_figure.jpg) no-repeat;
		.middle21{
			margin: 0 auto;
			width: 100%;
			overflow: hidden;
			h2{
				text-align: center;
				margin: 0 auto;
				margin-top: 44px;
				color: #fff;
			}
			.container {
				.row{
					div{
						overflow: hidden;
						padding-top: 40px;
						.right{
							margin-left: 15px;
							h4{
								color: #fff;
							}
						}
						>p{
							overflow: hidden;
							text-overflow: hidden;
							color: #fff;
						}
					}
				}
			}
		}
	}
	.middle3{
		width: 100%;
		background-size: 100% 100%;
		.middle21{
			margin: 0 auto;
			width: 100%;
			overflow: hidden;
			h2{
				text-align: center;
				margin: 0 auto;
				margin-top: 44px;
				color: black;
				padding-bottom: 36px;
				font-size: 0.358rem;
			}
			.carousel{
				width: 910.83px;
				margin: 0 auto;
				margin-bottom: 30px;
			}
			
		}
	}
	.middle4{
		width: 100%;
		height: 246px;
		overflow: hidden;
		background: url(../images/mult01_bg_bff.jpg) no-repeat;
		a{
			display: block;
			width:170px;
			height: 63px;
			font-size: 22px;
			color:  #444a4e;
			text-align: center;
			line-height: 63px;
			margin:0 auto;
			background-color: white;
			margin-top: 90px; 
			&:hover{
				text-decoration:none;
			};
		}
	}
	footer{
		width: 100%;
		height: 80px;
		background-color: #333;
		.col-md{
			width: 1200px;
			margin:0 auto;
			height: 80px;
			overflow: hidden;
			padding-top: 30px;
			span{
				display: inline-block;
				margin-top: -10px;
				width: 115px;
				height: 32px;
				line-height: 32px;
				background:url(../images/logo-wint-01.png) no-repeat;
			}
			.text{
				color: #fff;
				margin:0 auto;
				line-height: 20px;
				margin-left:2rem;
				a{
					color: #fff;
				} 		
			}
		}
	}
}
@media (max-width: 768px){
		.c-button{
			margin-left: 10px;
			background-color: lightgrey;
		}
		.c-button span{
			background-color: #fff !important;
		}
		.navbar-header{
			position: relative;
		}
		.navbar-header .navbar-brand{
			position: absolute;
			width: 100px;
			left: 0;
		}
		.navbar-collapse{
			background: linear-gradient(to bottom, #36393c 0%, #3c6171 100%);
			position: absolute;
			top: 0;
			height: 700px;
			right: 0;	
			box-sizing:border-box;
		}
		.navbar-default .navbar-collapse, .navbar-default .navbar-form{
			border-color: #1c2b2c;
		}
		.top-nav .navbar .collapse .nav { 
			li{
				border-bottom: 1px #86A0B1 solid;
				a{
					width: 220px;
					box-sizing: border-box;
					padding-left: 30px !important;
				}
			}
			.brand1{
				border-bottom: 0;
			}
		}
		.pull-right{
			
		}
		.top-nav .navbar .collapse .nav > li{
			margin-left: 0;
			a{
				padding: 10px;
				height: 40px;
				font-size: 16px;
				&:hover{
					background-color:#1c2b2c;
				};
			}
		}		
		.middle footer .col-md .text{
			display: block;
		}
}
@media(min-width: 768px){
	.brand1{
		display: none;
	}
}
@media (max-width: 992px){
		.navbar-right{
			display: none;
		}
		.middle2{
		}
		.middle .middle3 .middle21 .carousel{
			width: 100%;
		}
		.middle footer .col-md .text{
			margin-left: 1rem;
		}
}
@media (max-width: 1200px){
		.container{
			width: 100%;
			padding-right: 0;
		}
		.top-nav .navbar .container .navbar-header .navbar-brand{
			height: 30px;
		}
		.top-nav .navbar .collapse .nav {
			margin-left: 0;
		}
		.collapse{
			padding-left: 0;
		}
}
